<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Review scrapper</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <h1>The given URL is Not valid Please enter a valid one</h1>
    <form action="/error" method="post">
      <button type="submit" name="button">Return</button>
    </form>
  </body>
</html>
