<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Review scrapper</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="header">
      <a href="" class="logo">Review Scrapper</a>
    </div>
    <form action="/" method="post">
      <label
        ><h2 style="margin-bottom: 25px; margin-top: 25px">
          Enter the product url To scrap reviews:
        </h2></label
      >
      <textarea name="enteredItem" rows="2" cols="90"></textarea>
      <button class="btn" type="submit" name="button" value="val">
        Start scrapping
      </button>
    </form>
  </body>
</html>
